.navlink-dropdown {
    font-size: 1.4em;
    padding-left: 4px;
    margin-left: 4px;
    height: 100%;
    border-left: 1px solid rgb(223, 223, 223);
}

.navlink:hover {
    position: relative;
    bottom: 5px;
}