.search-container {
    width: 100%;
    display: flex;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 6px;
}

.search-container input {
    width: 100%;
    border: none;
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    caret-color: #F03A17;
    border: 2px solid white;
    transition: 0.1s;
}

.search-container input:focus {
    outline: none;
    border: 2px solid #F03A17;
}

.search-container button {
    display: flex;
    width: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: #F03A17;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: hsl(0, 0%, 93%);
    cursor: pointer;
    font-size: 20px;
}

.search-container button > * {
    height: 100%;
    transition: 0.1s;
}

.search-container button > *:hover {
    transform: rotate(90deg);
}