* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
}

picture {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
    box-shadow: 0 0 15px #500; 
}